:root {
  --primary-color: #1e9eff;
  --background-color: #c9e8ff;
  --link-color: #120d5e;
  --transition-speed: 0.2s;
  --heading-font-family: "Inter";
}

.container {
  padding: 25px 10px;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

.text-primary {
  color: var(--primary-color);
}

.btn {
  transition: background-color var(--transition-speed);
}

.hero-image {
  width: fit-content;
  max-height: 75%;
}

@media (max-width: 576px) {
  .hero-image {
    max-width: 90%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .btn-outline-secondary {
    padding: 3px 5px;
  }
}
