:root {
  --primary-color: #1e9eff;
  --background-color: #c9e8ff;
  --link-color: #120d5e;
  --transition-speed: 0.2s;
  --heading-font-family: "Inter";
}

.container {
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

.text-primary {
  color: var(--primary-color);
}

.btn {
  transition: background-color var(--transition-speed);
}

.hero-image {
  width: fit-content;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  transition: background-color var(--transition-speed);
}

.container.projects {
  background-color: none;
}

@media (max-width: 576px) {
  .hero-image {
    max-width: 90%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .btn-outline-secondary {
    padding: 3px 5px;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 30px;
  }
}
